@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #FEEBDB;
}


@font-face {
  font-family: AeonikProTRIAL-Bold;
  src: url(../../public/fonts/AeonikProTRIAL-Bold.otf);
}
