@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* *{
  background-color: #FEEBDB;
} */


@font-face {
  font-family: AeonikProTRIAL-Regular;
  src: url(../../public/fonts/AeonikProTRIAL-Regular.otf);
}

@font-face {
  font-family: AeonikProTRIAL-Bold;
  src: url(../../public/fonts/AeonikProTRIAL-Bold.otf);
}

@font-face {
  font-family: 'MalkieSlab';
  src: url('../../public/fonts/malkie-slab.otf');
}

.font-malkieslab {
  font-family: 'MalkieSlab';
}