@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  background-color: #FEEBDB;
}


@font-face {
  font-family: AeonikProTRIAL-Bold;
  src: url(../../public/fonts/AeonikProTRIAL-Bold.otf);
}
